* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: hsl(37, 100%, 88%);
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, hsl(20, 100%, 0%), hsl(359, 100%, 68%));
    color: #fff;
    margin: 30px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    max-width: 80%;
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 8px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 8px;
    font-size: 1rem; 
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 25px;
}

.weather h1 {
    font-size: 5rem; 
    font-weight: 500;
}

.weather h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 3px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 1.75rem;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 0.875rem;
    margin-top: 10px;
    display: none;
}


@media (max-width: 768px) {
    .card {
        padding: 20px 15px; 
    }

    .weather h1 {
        font-size: 4rem; 
    }

    .weather h2 {
        font-size: 2rem; 
    }

    .humidity, .wind {
        font-size: 1.5rem; 
    }

    .search input {
        font-size: 1.5rem; 
    }
}

@media (max-width: 480px) {
    
    .search {
        flex-direction: row; 
        
    }

    .search input {
        margin-right: 5px;
        margin-bottom: 4px; 
        height: 45px;
    }

    .search button {
        width: 100%; 
    }

    .search button {
        width: 47px;
        height: 47px;
        
    }
    
    .search button img {
        width: 14px;
    }

    .weather-icon {
        width: 130px;
        margin-top: 20px;
    }

    .weather h1 {
        font-size: 3rem;
    }

    .weather h2 {
        font-size: 1.8rem;
    }

    .col img {
        width: 30px;
        margin-right: 10px;
    }
    
    .humidity, .wind {
        font-size: 1.2rem;
        margin-top: -2px;
    }
}